/.pwd.lock
/.updated
/ImageMagick-7
/OpenCL
/adjtime
/alsa
/arch-release
/audit
/avahi
/bash.bash_logout
/bash.bashrc
/bindresvport.blacklist
/binfmt.d
/ca-certificates
/conf.d
/crypttab
/dconf
/depmod.d
/dhcpcd.conf
/e2scrub.conf
/environment
/ethertypes
/fonts
/fuse.conf
/gai.conf
/gemrc
/gmrunrc
/group
/group-
/grub.d
/gshadow
/gshadow-
/gtk-3.0
/healthd.conf
/host.conf
/hostname
/hosts
/hotplug
/ifplugd
/initcpio
/inputrc
/iproute2
/ipset.conf
/iptables
/issue
/kernel
/keyutils
/krb5.conf
/ld.so.cache
/ld.so.conf
/ld.so.conf.d
/libaudit.conf
/libblockdev
/libinput
/libnl
/libpaper.d
/libreoffice
/libva.conf
/locale.conf
/locale.gen
/localtime
/login.defs
/logrotate.d
/lvm
/machine-id
/mailcap
/makepkg.conf
/man_db.conf
/mdadm.conf
/mime.types
/mke2fs.conf
/mkinitcpio.d
/modprobe.d
/modules-load.d
/motd
/mtab
/my.cnf
/my.cnf.d
/ndctl
/netconfig
/netctl
/nginx
/nscd.conf
/nsswitch.conf
/openldap
/openvpn
/os-release
/pacman.conf
/pam.d
/papersize
/passwd
/passwd-
/pkcs11
/polkit-1
/profile
/profile.d
/protocols
/pulse
/rc_keymaps
/rc_maps.cfg
/request-key.conf
/request-key.d
/resolv.conf
/resolv.conf.bak
/resolvconf.conf
/rhashrc
/rpc
/rsyncd.conf
/securetty
/security
/sensors.d
/sensors3.conf
/services
/shadow
/shadow-
/shells
/skel
/ssh
/ssl
/sudo.conf
/sudo_logsrvd.conf
/sudoers
/sudoers.d
/sysctl.d
/tmpfiles.d
/trusted-key.key
/ts.conf
/udev
/udisks2
/vdpau_wrapper.cfg
/vpnc
/wgetrc
/wpa_supplicant
/xattr.conf
/xdg
/xinetd.d
